# --- Entornos virtuales y Configuración ---
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

# --- Python cache y compilados ---
__pycache__/
*.py[cod]
*$py.class

# --- Jupyter Notebooks checkpoints ---
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# --- Pruebas (Pytest) ---
.pytest_cache/
.coverage
htmlcov/

# --- Distribución y empaquetado ---
dist/
build/
*.egg-info/

# --- VS Code settings ---
.vscode/

# --- Archivos de sistema ---
.DS_Store
Thumbs.db

# Ignorar los HTML generados al exportar el notebook
*.html